body{
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #f1f1f1;
}
.my-blog{
  text-align: center;
  margin-bottom: 10px;
}
.welcome{
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  font-family: "Raleway", sans-serif;
  color: #000;
  margin-bottom: 45px;
}
.unknown-span{
  background-color: #000;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 1px;
  padding-bottom: 2px;
}
.main-div{
  display: flex;
  flex-direction: row;
  gap: 35px;
}
.big-information{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 66%;
  margin-left: 20px;
}
.TITLE-HEADING-div{
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  box-shadow: 3px 5px 5px  gray;
}
.read-more-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 8px;
  margin-bottom: 10px;
  margin-right: 13px;
}
.read-more-btn{
  width: 149px;
  height: 48px;
}
.comments{
  color: #000;
  font-family: "Raleway", sans-serif;
}
.span-comments{
  background-color: #000;
  color: wheat;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.blog-entry-div{
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  box-shadow: 3px 5px 5px  gray;
}
.span-comments-blog{
  border-radius: 20px;
  background-color: #000;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: white;
}
.myname-div{
 width: 400px;
 background-color: #f1f1f1;
 box-shadow: 3px 5px 5px 3px gray;
 margin-right: 20px;
}
.my-name{
  padding-left: 15px;
}
.about-me{
  font-family: "Raleway", sans-serif;
  color: gray;
  width: 370px;
  padding-left: 15px;
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 10px;
}
.popular-post-div{
  width: 400px;
  background-color: #f1f1f1;
  box-shadow: 3px 5px 5px 3px gray;
  margin-top: 20px;
}
.ul-imgs{
  width: 50px;
  height: 50px;
  margin-left: -25px;
}
.w3-li{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.rect{
  width: 400px;
  height: 1px;
  background-color: gray;
  margin-left: -40px;
}
.name-posts-header{
  background-color: rgb(201, 195, 195);
  width: 400px;
  height: 50px;
}
.popular-post{
  color: #000;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 10px;
  font-family: "Raleway", sans-serif;
}
.tags-div{
  width: 400px;
  background-color: #f1f1f1;
  box-shadow: 3px 5px 5px 3px gray;
  margin-top: 0px;
}
.tags-name{
  width: 382px;
  background-color: rgb(201, 195, 195);
  height: 40px;
  padding-top: 18px;
  padding-left: 20px;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  color: #000;
  margin-bottom: 0px;
  
}
.travel{
  background-color: #000;
  color: wheat;
  margin-bottom: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
.offers-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 15px;
  gap: 10px;
  padding-bottom: 15px;
}
.new-york{
  background-color:rgb(201, 195, 195);
  color: rgb(70, 68, 68);
  font-size: 15px;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 15px;
  height: 16px;
  margin-top: 21px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
footer{
  width: 100%;
  height: 135px;
  background-color: gray;
  margin-top: 50px;
}
.previous-btn{
  width: 75px;
  height: 30px;
  border: none;
  background-color: #000;
  color: white;
  margin-right:4px ;
  margin-left: 20px;
  margin-top: 30px;
}
.next-btn{
  width: 65px;
  height: 30px;
  border: none;
  background-color: #000;
  color: white;
}
.footer-p{
  margin-left: 20px;
  color: white;
}
.w3-link{
  color: white;
}